/*------------------------------------*\
  #BACKGROUNDS
\*------------------------------------*/

.pink-bg {
	background-color: $dark-pink;
	color: $white;
}

.gray-bg {
	background-color: $bg-gray;
}

.purple-bg {
	background-color: $purple;
	color: $white;
}

/*------------------------------------*\
  #HEADER COLORS
\*------------------------------------*/

.section__title {
	color: $dark-pink;
}

.purple-bg .section__title {
	color: $light-pink;
}

/*------------------------------------*\
  #LINK COLORS
\*------------------------------------*/

.section__content .link-cta  {
	@include link-cta($color: $medium-gray);
}

.purple-bg .link-cta  {
	@include link-cta($color: $white, $hover-color: $light-pink);
}

.section__content .link,
.page-footer .link {
	@include link($color: inherit, $hover-color: $dark-gray);
}

.purple-bg .link {
	@include link($color: inherit, $hover-color: $light-pink);
}