/*------------------------------------*\
  #COLOR THEMES
\*------------------------------------*/

.pink-bg {
	background-color: $dark-pink;
	color: $white;
}

.gray-bg {
	background-color: $bg-gray;
}