/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: #fff;
$black: #000;

$gray: #9C9D9D;
$bg-gray: #F6F6F6;
$medium-gray: #7D8080;
$dark-gray: #626868;

$pink: #f29ec4;
$ultra-light-pink: #FFF3F8;
$light-pink: #FAC9DF;
$medium-pink: #E676A9;
$dark-pink: #D7538F;

$purple: #5063AF;

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

$body-font: 'freight-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font: 'freight-big-pro', Georgia, Times, serif;

$modular-scale-ratio: $major-third;
$modular-scale-base: rem($em-base);

$second-strand: rem(14px);

/*------------------------------------*\
  #NAVIGATION VARIABLES
\*------------------------------------*/

$header-height: modular-scale(8);
$offcanvas-nav-width: modular-scale(15);

$burger-icon-width: 33px;
$burger-icon-height: 2px;
$burger-icon-spacing: 9px;

/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$large-desktop: 105rem;

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

$anim-speed-ease: .3s ease-in-out;