/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: #fff;

$gray: #9C9D9D;
$bg-gray: #F6F6F6;
$medium-gray: darken($gray, 16%);
$dark-gray: #424242;

$pink: #f29ec4;
$bg-pink: #D7538F;

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

$font-family-sans-serif: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'kepler-std', Georgia, Times, serif;

$modular-scale-ratio: $major-third;
$modular-scale-base: rem($em-base);
$second-scale: 0.875rem;
$viewport-scale: 1.166vw;

/*------------------------------------*\
  #HEADER VARIABLES
\*------------------------------------*/

$nav-height: modular-scale(8);

$burger-icon-height: 2px;
$burger-icon-spacing: 9px;

/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$large-desktop: 105rem;

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

$anim-speed-ease: .5s ease-in-out;