/*------------------------------------*\
  #GRID MIXINS
\*------------------------------------*/

@mixin l-container {
	padding-right: modular-scale(7, 1vw);
	padding-left: modular-scale(7, 1vw);
}

@mixin c-container {
	max-width: modular-scale(19);
	margin: 0 auto;
}

@mixin page-padding {
	padding-right: modular-scale(5, 1vw);
	padding-left: modular-scale(5, 1vw);
}

@mixin text-content {
	padding: modular-scale(6) modular-scale(7, 1vw);
}

@mixin flexbox-row($direction: row) {
	display: flex;
	flex: 0 1 auto;
	flex-direction: $direction;
	flex-wrap: wrap;
}

@mixin flexbox-column($padding: modular-scale(1)) {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	flex-grow: 1;
	padding: $padding;
}

@mixin flexbox-column-width($width) {
	flex-basis: $width;
	max-width: $width;
}

@mixin no-margin() {
	margin-bottom: 0;
}

/*------------------------------------*\
  #TYPOGRAPHY MIXINS
\*------------------------------------*/

@mixin font-weight($weight) {
	$weights: (
		thin: 100,
		extra-light: 200,
		ultra-light: 200,
		light: 300,
		normal: 400,
		book: 400,
		regular: 400,
		medium: 500,
		semi-bold: 600,
		demi-bold: 600,
		bold: 700,
		extra-bold: 800,
		ultra-bold: 900,
		heavy: 900,
		black: 900,
		ultra: 900,
		ultra-black: 900,
		extra-ultra: 900
		);

	$output: $weight;
	@if map-has-key($weights, $weight) {
		$output: map-get($weights, $weight);
	}

	font-weight: $output;
}

@mixin uppercase-text($font-weight: semi-bold) {
	text-transform: uppercase;
	letter-spacing: modular-scale(-11);
	@include font-weight($font-weight);
}

@mixin section-title {
	font-family: $body-font;
	font-size: modular-scale(-1);
	@include uppercase-text;
}

@mixin link($color, $hover-color) {
	padding-bottom: modular-scale(-11);
	border-bottom: 1px solid rgba($color, .3);
	color: $color;
	transition: all $anim-speed-ease;

	&:hover {
		color: $hover-color;
		border-color: $hover-color;
	}
}

@mixin link-cta($color: $dark-gray, $hover-color: $dark-pink) {
	position: relative;
	padding-bottom: modular-scale(-7);
	color: $color;
	font-size: modular-scale(-1);
	transition: all $anim-speed-ease;
	@include uppercase-text(medium);

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		height: 1px;
	}

	&:before {
		z-index: 1;
		width: 100%;
		background-color: rgba($color, .3);
	}

	&:after {
		z-index: 2;
		width: 0;
		background-color: $hover-color;
		transition: width $anim-speed-ease;
	}

	&:hover {
		color: $hover-color;
	}

	&:hover:after {
		width: 100%;
	}
}

@mixin svg-icon($color: currentColor) {
	display: inline-block;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/*------------------------------------*\
  #BUTTONS MIXINS
\*------------------------------------*/

@mixin button($bg-color, $text-color, $bg-hover-color, $text-hover-color) {
	padding: modular-scale(-1) modular-scale(3);
	border-radius: 30px;
	background-color: $bg-color;
	color: $text-color;
	transition: all $anim-speed-ease;
	@include uppercase-text;

	&:hover {
		background-color: $bg-hover-color;
		color: $text-hover-color;
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
	}
}

/*------------------------------------*\
  #BACKGROUND MIXINS
\*------------------------------------*/

@mixin background-tint($bg-color) {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba($bg-color, .8);
	}
}