/*------------------------------------*\
  #GRID MIXINS
\*------------------------------------*/

@mixin l-container() {
	padding-right: modular-scale(5);
	padding-left: modular-scale(5);
}

@mixin c-container() {
	max-width: modular-scale(15);
	margin: 0 auto;
	padding-right: modular-scale(2);
	padding-left: modular-scale(2);
}

@mixin text-content {
	padding-top: modular-scale(6);
	padding-bottom: modular-scale(6);
}

@mixin flexbox-row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

@mixin flexbox-column() {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	flex-grow: 1;
}

@mixin flexbox-column-width($width) {
	flex-basis: $width;
	max-width: $width;
}

/*------------------------------------*\
  #TYPOGRAPHY MIXINS
\*------------------------------------*/

@mixin font-weight($weight) {
	$weights: (
		thin: 100,
		extra-light: 200,
		ultra-light: 200,
		light: 300,
		normal: 400,
		book: 400,
		regular: 400,
		medium: 500,
		semi-bold: 600,
		demi-bold: 600,
		bold: 700,
		extra-bold: 800,
		ultra-bold: 900,
		heavy: 900,
		black: 900,
		ultra: 900,
		ultra-black: 900,
		extra-ultra: 900
		);

	$output: $weight;
	@if map-has-key($weights, $weight) {
		$output: map-get($weights, $weight);
	}

	font-weight: $output;
}

@mixin header-underline() {
	margin-bottom: modular-scale(2);

	&:after {
		content: "";
		display: block;
		width: modular-scale(7);
		height: modular-scale(-4);
		margin-top: modular-scale(-6, 1em);
		background-color: $pink;
	}
}

@mixin link($color: $medium-gray, $hover-color: $color, $border-size: 2px, $border-color: transparent) {
	color: $color;
	border-bottom: $border-size solid $border-color;
	transition: all $anim-speed-ease;

	&:hover {
		border-color: $hover-color;
		color: $hover-color;
	}
}

@mixin link-padding($padding-bottom: modular-scale(-7)) {
	padding-bottom: $padding-bottom;
}

@mixin uppercase-text() {
	text-transform: uppercase;
	letter-spacing: modular-scale(-7, $second-scale);
	@include font-weight(bold);
}

/*------------------------------------*\
  #BUTTONS MIXINS
\*------------------------------------*/

@mixin button() {
	padding: modular-scale(-2) modular-scale(2) modular-scale(-1);
	border-radius: 4px;
	color: $white;
	background-color: $pink;
	transition: background-color $anim-speed-ease;
	@include font-weight(semi-bold);

	&:hover {
		background-color: darken($pink, 3%);
	}
}

/*------------------------------------*\
  #BACKGROUND MIXINS
\*------------------------------------*/

@mixin background-tint($bg-color) {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: $bg-color;
	}
}