/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3,
p {
	margin-top: 0;
}

h1,
h3, {
	font-family: $header-font;
}


.section__title {
	margin-bottom: modular-scale(1);
	font-size: modular-scale(-1);
	text-align: center;
	@include uppercase-text(semi-bold);
}

.page-content p {
	font-size: modular-scale(1);
	line-height: strip-units(modular-scale(2));
}

.page-content p a {
	@include link;
}

a {
	text-decoration: none;
}