/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3,
p {
	margin-top: 0;
}

.section__title {
	display: inline-block;
	margin-bottom: modular-scale(1);
	font-size: modular-scale(0);
	text-transform: uppercase;
	letter-spacing: modular-scale(-10);
	@include font-weight(semi-bold);
}

.page-content p {
	margin-bottom: modular-scale(0);
	font-size: modular-scale(1);
	line-height: strip-units(modular-scale(2));
}

.page-content p a {
	@include link;
}

a {
	text-decoration: none;
}