/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3,
p {
	margin-top: 0;
}

.section__title {
	position: relative;
	display: inline-block;
	margin-bottom: modular-scale(2);
	color: inherit;
	font-size: modular-scale(0);
	@include uppercase-text;
}

	.title__heart {
		display: inline-block;
		vertical-align: baseline;
		margin-right: modular-scale(-5);
		width: modular-scale(-1);
		height: modular-scale(-1);
		stroke: currentColor;
		fill: currentColor;
		// animation: 1s ease-in-out infinite alternate heartbeat;
	}

	// @keyframes heartbeat {
	// 	0% { transform: scale(1); }
	// 	50% { transform: scale(1.1); }
	// 	100% { transform: scale(1); }
	// }

.page-content p {
	margin-bottom: modular-scale(0);
	font-size: modular-scale(1);
	line-height: strip-units(modular-scale(2));
}

.page-content p a {
	@include link;
}

a {
	text-decoration: none;
}