/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

.blocks-row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

	.block {
		display: flex;
		flex: 0 0 auto;
		flex-basis: 50%;
		max-width: 50%;
		flex-direction: column;
		flex-grow: 1;
	}

	.block__text {
		background-color: $white;
		@include text-content;
	}

		.block__title {
			color: $dark-gray;

			&:after {
				content: "";
				display: block;
				width: modular-scale(7);
				height: modular-scale(-4);
				margin-top: modular-scale(0);
				background-color: $pink;
			}
		}

		.block__copy {
			margin-bottom: 0;
		}

	.block__img {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.block__img--bras {
		background-image: url(../../images/bw-woman.jpg);
	}