/*------------------------------------*\
  #BLOCKS
\*------------------------------------*/

.blocks-row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

	.block {
		display: flex;
		flex: 0 0 auto;
		flex-basis: 50%;
		max-width: 50%;
		flex-direction: column;
		flex-grow: 1;
	}

	.block__text {
		padding-top: modular-scale(5);
		padding-bottom: modular-scale(5);
		@include container;
	}

		.block__title {
			color: $dark-gray;
			@include header-underline;
		}

		p.block__copy {
			margin: 0;
		}

	.block__img {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.block__img--lingerie {
		background-image: url(../../images/lingerie.jpg);
	}

	.block__img--sostenes {
		background-image: url(../../images/pantis.jpg);
	}

	.block__img--pantis {
		background-image: url(../../images/pantis-2.jpg);
	}

	.block__img--trajes {
		background-image: url(../../images/trajes-de-bano.jpg);
	}