/*------------------------------------*\
  #BLURB
\*------------------------------------*/

.blurb {
	background-color: $pink;
	color: $white;
	text-align: center;
	@include text-content;
}

	.blurb__copy {
		max-width: modular-scale(15, 14px);
		margin: 0 auto;
		font-size: modular-scale(3);
		@include font-weight(normal);
	}