/*------------------------------------*\
  #BLURB
\*------------------------------------*/

p.blurb__copy {
	font-family: $font-family-serif;
	font-size: modular-scale(3);
	line-height: strip-units(modular-scale(1));
	@include no-margin;
}