/*------------------------------------*\
  #BLURB
\*------------------------------------*/

p.blurb {
	max-width: modular-scale(18);
	margin-right: auto;
	margin-left: auto;
	font-family: $header-font;
	font-size: modular-scale(3);
	line-height: strip-units(modular-scale(2));
	text-align: center;
	@include font-weight(regular);
	@include no-margin;
}