/*------------------------------------*\
  #BRANDS GRID
\*------------------------------------*/

.brands {
	padding: modular-scale(4) 0 modular-scale(2);
	@include flexbox-row;
}

	.brand__item {
		justify-content: center;
		margin-top: modular-scale(2);
		margin-bottom: modular-scale(2);
		opacity: .6;
		@include flexbox-column;
		@include flexbox-column-width(100% / 3);

		&:focus {
			outline: none;
		}
	}

		.brand__logo {
			display: inline-block;
			max-width: modular-scale(10, $second-scale);
			margin: 0 auto;
			filter: grayscale(100%);
		}

		.brand__logo--xoxo,
		.brand__logo--hanes {
			width: modular-scale(9, $second-scale);
		}