/*------------------------------------*\
  #BRANDS GRID
\*------------------------------------*/

.brands {
	@include l-container;
	@include flexbox-row;
}

	.brand__item {
		justify-content: center;
		opacity: .6;
		@include flexbox-column;
		@include flexbox-column-width(100% / 3);

		&:focus {
			outline: none;
		}
	}

		.brand__logo {
			display: inline-block;
			margin: 0 auto;
			filter: grayscale(100%);
		}