/*------------------------------------*\
  #BRANDS GRID
\*------------------------------------*/

.brand__item {
	float: left;
	width: 30%;

	&:nth-child(2n) {
		text-align: center;
	}

	&:nth-child(3n) {
		text-align: right;
	}

	&:not(:nth-child(3n)) {
		margin-right: calc(10% / 3);
	}
}

	.brand__logo {
		display: inline-block;
		width: modular-scale(10);
		fill: $dark-gray;
		transition: fill $anim-speed-ease;

		&:hover {
			fill: initial;
		}
	}

	.brand__logo--hanes:hover {
		fill: #D81E05;
	}