/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.amorosa-btn {
	padding: modular-scale(0) modular-scale(1);
	background-color: $pink;
	color: $white;
	text-align: center;
	transition: background-color .5s ease-in-out;

	&:hover {
		color: $white;
		background-color: darken($pink, 5%);
	}
}