/*------------------------------------*\
  #CONTACTO
\*------------------------------------*/

.contact__map {
	height: modular-scale(14);
	margin: 0;
}

.contact__row {
	@include flexbox-row;
}

	.contact__col {
		text-align: center;
		@include flexbox-column;
		@include flexbox-column-width(100% / 3);
	}

		.contact__header {
			margin-bottom: modular-scale(-3);
			@include section-title;
		}

		.contact__copy:last-child {
			@include no-margin;
		}