/*------------------------------------*\
  #CONTACTO
\*------------------------------------*/

.contact {
	@include flexbox-row(column);

	@media(min-width: $tablet) {
		@include flexbox-row(row-reverse);
	}
}

	.contact__map,
	.contact__info {
		@include flexbox-column($padding: null);

		@media(min-width: $tablet) {
			@include flexbox-column-width(50%);
		}
	}

	.contact__map {
		height: modular-scale(14);
		margin: 0;

		@media(min-width: $tablet) {
			height: auto;
		}
	}

	.contact__info {
		padding: modular-scale(6);
	}

		.contact__section:not(:last-child) {
			margin-bottom: modular-scale(1);
		}

			.contact__header {
				margin-bottom: modular-scale(-7);
				font-family: $body-font;
				@include font-weight(semi-bold);
			}

			.contact__section p {
				@include no-margin;
			}

			.contact__section p ~ p {
				margin-top: modular-scale(-2);
			}

			.contact__icon,
			.contact__copy {
				display: inline-block;
			}

			abbr.contact__abbr {
				display: inline-block;
				width: modular-scale(-1);
				color: $light-pink;
				text-decoration: none;
			}

			.contact__divider {
				margin: 0 modular-scale(-8);
			}