/*------------------------------------*\
  #CONTACT
\*------------------------------------*/

.contacto {
	background-color: $bg-gray;
	@include text-content;
}

	.contacto__header {
		text-align: center;
	}

	.contacto__inner {
		max-width: modular-scale(14);
		margin: 0 auto;
	}

		.contacto__col--left {
			float: left;
		}

			.contacto__col--left .contacto__info:first-child {
				margin-bottom: modular-scale(1);
			}

		.contacto__col--right {
			float: right;
		}

		.contacto__info p:not(:last-child) {
			margin-bottom: modular-scale(-10);
		}

		.contacto__info p:last-child {
			margin-bottom: 0;
		}

		.contact__title {
			margin-bottom: modular-scale(-1);
			font-size: modular-scale(2);
			font-family: $font-family-sans-serif;
			@include font-weight(semi-bold);
		}

		.contacto__icon {
			width: modular-scale(2);
			height: modular-scale(2);
			margin-right: modular-scale(-3);
			fill: $medium-gray;
		}

		.contacto__icon + a {
			display: inline-block;
			vertical-align: middle;
		}