/*------------------------------------*\
  #HERO IMAGE
\*------------------------------------*/

.page-hero {
	@include page-padding;
}

	.hero__inner {
		position: relative;
		display: flex;
		align-items: center;
		height: 100vh;
		padding-top: $nav-height;
		text-align: center;
	}

		.hero__content {
			position: relative;
			z-index: 2;
			width: 100%;
		}

			.hero__tagline {
				margin-bottom: modular-scale(1);
				color: $dark-gray;
				font-family: $header-font;
				font-size: modular-scale(7);
				@include font-weight(black);
			}

				// .tagline__svg {
				// 	height: ceil(modular-scale(11));
				// }

				.tagline__text {
					text-anchor: middle;
					fill: url(#tagline-image);
				}

			p.hero__blurb {
				margin: 0 auto;
				max-width: modular-scale(15);
				line-height: strip-units(modular-scale(1));
			}