/*------------------------------------*\
  #HERO IMAGE
\*------------------------------------*/

.hero__inner {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	padding-top: $header-height;
	background-image: url(https://static.pexels.com/photos/94589/pexels-photo-94589.jpeg);
	background-position: center center;
	background-size: cover;
	color: $white;
	text-align: center;
	@include background-tint($dark-pink);
}

	.hero__content {
		position: relative;
		z-index: 2;
		width: 100%;
		@include element-padding;
	}

		.hero__tagline {
			margin-bottom: modular-scale(2);
			font-size: modular-scale(10, 1vmin);
			line-height: strip-units(modular-scale(0));
			@include font-weight(black);

			@media(min-width: $tablet) {
				font-size: modular-scale(6);
			}

			@media(min-width: $small-desktop) {
				font-size: modular-scale(7);
			}
		}

			.tagline__br {
				display: block;
			}

		p.hero__blurb {
			margin: 0 auto modular-scale(4);
			max-width: modular-scale(15);
			font-size: modular-scale(1);
			line-height: strip-units(modular-scale(1));
		}

		.hero__cta {
			font-size: modular-scale(-1);
			@include button($bg-color: $white, $text-color: $dark-pink, $bg-hover-color: null, $text-hover-color: null);
		}