/*------------------------------------*\
  #HERO IMAGE
\*------------------------------------*/

.page-hero {
	position: relative;
	display: flex;
	align-items: center;
	height: 95vh;
	padding-top: $nav-height;
	background-image: url(https://static.pexels.com/photos/119654/pexels-photo-119654.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: $white;
	text-align: center;
	@include background-tint(rgba(21,14,27,.5));
}

	.hero__inner {
		position: relative;
		z-index: 2;
		width: 100%;
	}

		.hero__tagline {
			margin-bottom: modular-scale(2);
			font-family: $header-font;
			font-size: modular-scale(7);
			line-height: strip-units(modular-scale(0));
			@include font-weight(semi-bold);
		}

			.tagline__break {
				display: block;
			}

		p.hero__blurb {
			margin: 0 auto;
			max-width: modular-scale(15);
			line-height: strip-units(modular-scale(1));
		}