/*------------------------------------*\
  #INSTAFEED
\*------------------------------------*/

.instafeed {
	text-align: center;
}

	.instafeed__container {
		margin-bottom: modular-scale(1);
		@include flexbox-row;
	}

		.instafeed__item {
			@include flexbox-column;
			@include flexbox-column-width(100% / 4);

			&:focus {
				outline: none;
			}
		}

		.instafeed__cta {
			font-size: modular-scale(1);
			@include link-cta;
		}