/*------------------------------------*\
  #INSTAFEED
\*------------------------------------*/

.instafeed__item {
	display: block;
	float: left;
	width: 30%;
	margin-bottom: modular-scale(4);

	&:not(:last-child) {
		margin-right: calc(10% / 2);
	}

	&:focus {
		outline: none;
	}
}

.instagram-cta {
	display: block;
	font-size: modular-scale(0);
	text-align: center;
	@include uppercase-text;
}

	.instagram-cta span {
		display: inline-block;
		@include link($color: $gray, $hover-color: $dark-gray, $border-color: $gray);
		@include link-padding;
	}