/*------------------------------------*\
  #PRODUCT ICONS
\*------------------------------------*/

.products {
	@include flexbox-row(column);

	@media(min-width: $mobile) {
		@include flexbox-row;
	}
}

	.product__item {
		margin: 0;
		text-align: center;

		@include flexbox-column;

		@media(min-width: $mobile) {
			@include flexbox-column-width(50%);
		}
	}

	.product__icon {
		display: inline-block;
		width: modular-scale(10);
		height: modular-scale(10);
		margin: 0 auto;
		fill: $medium-pink;
	}

	.product__name {
		margin-bottom: modular-scale(-1);
		font-family: $header-font;
		font-size: modular-scale(3);
		@include font-weight(bold);
	}

	p.product__desc {
		margin-right: auto;
		margin-left: auto;
		max-width: modular-scale(14);
		font-size: modular-scale(0);
		@include no-margin;
	}