/*------------------------------------*\
  #PRODUCT TILES
\*------------------------------------*/

.products {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

	.product__tile {
		position: relative;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: 50%;
		max-width: 50%;
		padding: modular-scale(-3);
		// padding-bottom: modular-scale(0);

		// &:nth-of-type(odd) {
		// 	padding-right: modular-scale(0);
		// }
	}

		.tile__header {
			position: absolute;
			top: modular-scale(4);
			left: modular-scale(4);
			z-index: 2;
			margin-bottom: 0;
			color: $white;
			font-family: $font-family-sans-serif;
			font-size: modular-scale(1);
			@include font-weight(normal);
		}

	.tile__slider {
		position: relative;
		width: 100%;
		padding-bottom: 67%;
		background-position: center center;
		background-repeat: none;
		background-size: cover;
		@include background-tint(rgba(21,14,27,.5));
	}

	.tile__slider--lenceria {
		background-image: url(../../images/lingerie.jpeg);
	}

	.tile__slider--sostenes {
		background-image: url(../../images/sostenes.jpeg);
	}

	.tile__slider--pantis {
		background-image: url(../../images/panties.jpeg);
	}

	.tile__slider--bathing {
		background-image: url(../../images/bathing.jpeg);
	}