/*------------------------------------*\
  #PRODUCT TILES
\*------------------------------------*/

.product__tiles {
	@include flexbox-row;

	&:nth-child(even) {
		flex-direction: row-reverse;
	}
}

	.tile {
		position: relative;
		height: modular-scale(11);
		@include flexbox-column($padding: null);
		@include flexbox-column-width(50%);
	}

	// PRODUCT DESCRIPTION
	.tile__product {
		perspective: modular-scale(20);
	}

		.product__card {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			transition: transform .5s;

			&.flipped {
				transform: rotateY(180deg);
			}

			&.flipped-reverse {
				transform: rotateY(-180deg);
			}
		}

			.card {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: $white;
				backface-visibility: hidden;
			}

			.card--pink {
				background-color: #F29CC3;
			}

			.card--pink .card__flip:hover {
				background-color: $white;
				color: #F29CC3;
			}

			.card--orange {
				background-color: #F2A19C;
			}

			.card--orange .card__flip:hover {
				background-color: $white;
				color: #F2A19C;
			}

			.card--seagreen {
				background-color: #A19CF2;
			}

			.card--seagreen .card__flip:hover {
				background-color: $white;
				color: #A19CF2;
			}

			.card--green {
				background-color: #9CC3F2;
			}

			.card--green .card__flip:hover {
				background-color: $white;
				color: #9CC3F2;
			}

			.card--front {
				justify-content: center;
				align-items: center;
				text-align: center;
				@include flexbox-column;
			}

				.card__header {
					margin-bottom: modular-scale(0);
					font-family: font-family-serif;
					font-size: modular-scale(4);
					@include font-weight(medium);
				}

				.card__flip {
					padding: modular-scale(-7) modular-scale(1) modular-scale(-3);
					border: 2px solid $white;
					border-radius: 35px;
					color: inherit;
					font-size: modular-scale(1);
					text-transform: lowercase;
					transition: all $anim-speed-ease;
				}

			.card--back {
				position: relative;
				padding: modular-scale(3);
				transform: rotateY(180deg);
			}

				p.card__desc {
					margin-bottom: 0;
					font-size: modular-scale(1);
					@include font-weight(light);
				}

				.card__flipback {
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					width: modular-scale(2);
					height: modular-scale(2);
					background-color: $pink;
					color: $white;
					text-align: center;
				}

					.flipback__icon {
						display: inline-block;
						vertical-align: text-bottom;
						width: modular-scale(0);
						height: modular-scale(0);
						stroke-width: 0;
						stroke: currentColor;
						fill: currentColor;
					}

	// PRODUCT SLIDER
	.tile__slider {
		position: relative;
	}

		.slider__controls {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
			width: modular-scale(6);
			height: modular-scale(4);
			background-color: $pink;
			opacity: 0;
			transition: opacity .2s ease-in-out;
			will-change: opacity;
		}

		.no-touch .tile__slider:hover .slider__controls {
			opacity: 1;
		}

		.touch .slider__controls {
			display: none;
		}

			.slider__control {
				position: relative;
				display: block;
				float: left;
				width: 50%;
				height: 100%;
				color: $white;
				transition: transform .1s linear;
			}

				.control__arrow {
					position: absolute;
					top: 50%;
					display: inline-block;
					width: modular-scale(2);
					height: modular-scale(2);
					stroke-width: 0;
					stroke: currentColor;
					fill: currentColor;
					transform: translateY(-50%);
				}

				.slider__control--next .control__arrow {
					left: modular-scale(-6);
				}

				.slider__control--prev .control__arrow {
					right: modular-scale(-6);
				}

			.slider__control--next:hover {
				transform: translateX(7%);
			}

			.slider__control--prev:hover {
				transform: translateX(-7%);
			}

		.slider__img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: none;
			background-size: cover;
			opacity: 0;
			transition: opacity $anim-speed-ease;
		}

		.slider__img--active {
			opacity: 1;
			z-index: 1;
		}

		.tile__slider--lenceria .slider__img--1 {
			background-image: url(../../images/lingerie.jpeg);
		}


		.tile__slider--lenceria .slider__img--2 {
			background-image: url(../../images/lingerie-2.jpeg);
		}


		.tile__slider--lenceria .slider__img--3 {
			background-image: url(../../images/lingerie-3.jpeg);
		}


		.tile__slider--sostenes .slider__img--1 {
			background-image: url(../../images/sostenes.jpeg);
		}

		.tile__slider--sostenes .slider__img--2 {
			background-image: url(../../images/sostenes-2.jpeg);
		}

		.tile__slider--sostenes .slider__img--3 {
			background-image: url(../../images/sostenes-3.jpeg);
		}

		.tile__slider--pantis .slider__img--1 {
			background-image: url(../../images/panties.jpeg);
		}

		.tile__slider--pantis .slider__img--2 {
			background-image: url(../../images/panties-2.jpeg);
		}

		.tile__slider--pantis .slider__img--3 {
			background-image: url(../../images/panties-3.jpeg);
		}

		.tile__slider--bathing .slider__img--1 {
			background-image: url(../../images/bathing.jpeg);
		}

		.tile__slider--bathing .slider__img--2 {
			background-image: url(../../images/bathing-2.jpeg);
		}

		.tile__slider--bathing .slider__img--3 {
			background-image: url(../../images/bathing-3.jpeg);
		}