/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-footer {
	padding-top: modular-scale(2);
	padding-bottom: modular-scale(1);
	color: $gray;
	@include l-container;
}

	.footer__inner {
		width: inherit;
		height: 100%;
		align-items: center;
		@include flexbox-row;
	}

	.footer__col {
		@include flexbox-column-width(50%);
	}

		.footer__text {
			margin: 0;
			font-size: modular-scale(0);
		}

			.footer__text a {
				@include link($color: inherit, $hover-color: $dark-gray);
			}

	.footer__col--attribution {
		text-align: right;
	}