/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.page-footer {
	padding-top: modular-scale(2);
	padding-bottom: modular-scale(1);
	color: $gray;
	@include container;
}

	.footer__inner {
		display: table;
		width: 100%;
	}

	.footer__col {
		display: table-cell;
		vertical-align: middle;
	}

		.footer__text {
			margin: 0;
			font-size: modular-scale(0);
		}
		
	.footer__col--attribution {
		text-align: right;
	}