/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.page-header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	border-bottom: 1px solid $light-gray;
	background-color: $white;
	@include l-container;
}

	.header__inner {
		display: table;
		width: inherit;
		height: 100%;
	}

		.header__logo,
		.header__nav {
			display: table-cell;
			vertical-align: middle;
		}

		.header__logo {
			width: 12.5rem; // equivalent to 200px, in keeping with width of low-res logo
		}

		.header__nav {
			text-align: right;
		}

			.nav__list {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

				.nav__item {
					display: inline-block;
					vertical-align: middle;

					&:not(:last-child) {
						margin-right: modular-scale(3);
					}
				}

					.nav__link {
						font-size: modular-scale(1);
						transition: all .5s ease-in-out;
						@include link($gray, $pink, 3px, modular-scale(-7));
					}