/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

/*------------------------------------*\
  #NAVIGATION TOGGLE
\*------------------------------------*/

.nav-toggle {
	display: block;
	position: fixed;
	top: 40px;
	right: modular-scale(4);
	z-index: 9999;
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background-color: $white;
	outline: none;
	appearance: none;
	transition: all $anim-speed-ease;

	&:focus {
		outline: none;
	}
}

	.nav-toggle__inner {
		left: 50%;
		margin-left: -13px;
	}

	.nav-toggle__inner,
	.nav-toggle__inner:before,
	.nav-toggle__inner:after {
		position: absolute;
		display: block;
		width: 26px;
		height: 3px;
		background-color: $gray;
		transition: transform $anim-speed-ease;
	}

	.nav-toggle__inner:before,
	.nav-toggle__inner:after {
		content: "";
		right: 0;
	}

	.nav-toggle__inner:before {
		top: -7px;
	}

	.nav-toggle__inner:after {
		top: 7px;
	}