/*------------------------------------*\
  #OFFCANVAS NAVIGATION
\*------------------------------------*/

.page-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	width: $offcanvas-nav-width;
	height: 100%;
	background-color: $white;
	transition: transform $anim-speed-ease;
	transform: translateX(100%);
}

	.nav__list {
		position: absolute;
		top: 50%;
		left: 0;
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0 modular-scale(5);
		text-align: right;
		transform: translateY(-50%);
	}

		.nav__item {
			&:not(:last-child) {
				margin-bottom: modular-scale(4, 1vh);
			}
		}

		.nav__link {
			color: $gray;
			font-family: $header-font;
			font-size: modular-scale(5);
			transition: color $anim-speed-ease;
			@include font-weight(medium);

			&:hover {
				color: $medium-pink;
			}
		}

/*------------------------------------*\
  #NAVIGATION TOGGLE
\*------------------------------------*/

.nav-toggle {
	display: block;
	position: fixed;
	top: rem(31px);
	right: modular-scale(4);
	z-index: 12;
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background-color: $white;
	outline: none;
	appearance: none;
	transition: all $anim-speed-ease;

	&:focus {
		outline: none;
	}
}

	.nav-toggle__inner {
		left: 50%;
		margin-left: -$burger-icon-width / 2;
	}

	.nav-toggle__inner,
	.nav-toggle__inner:before,
	.nav-toggle__inner:after {
		position: absolute;
		display: block;
		width: $burger-icon-width;
		height: $burger-icon-height;
		background-color: rgba($gray, 1);
		transition: all $anim-speed-ease;
	}

	.nav-toggle__inner:before,
	.nav-toggle__inner:after {
		content: "";
		left: 0;
	}

	.nav-toggle__inner:before {
		bottom: $burger-icon-spacing;
	}

	.nav-toggle__inner:after {
		top: $burger-icon-spacing;
	}

/*------------------------------------*\
  #PAGE OVERLAY
\*------------------------------------*/

.page-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 100vh;
	background-color: rgba($black, .3);
	opacity: 0;
	pointer-events: none;
	transition: all $anim-speed-ease;
}