/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.open-nav {
	overflow: hidden;
}

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.open-nav .header__nav {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/*------------------------------------*\
  #NAVIGATION TOGGLE
\*------------------------------------*/

.open-nav .nav-toggle__inner {
	background-color: rgba($white, 0);
}

.open-nav .nav-toggle__inner:before {
	bottom: 0;
	transform: rotate(-45deg);
}

.open-nav .nav-toggle__inner:after {
	top: 0;
	transform: rotate(45deg);
}

.open-nav .nav-toggle__inner:before,
.open-nav .nav-toggle__inner:after {
	background-color: rgba($white, 1);
}