/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

.open-nav {
	overflow: hidden;
}

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.open-nav .header__nav {
	pointer-events: auto;
	transform: translateY(0);
}

	.open-nav .nav__item {
		opacity: 1;
		transform: translateY(0);

		@for $nav-item from 1 through 3 {
			&:nth-child(#{$nav-item}) {
				transition-delay: (#{$nav-item / 5}s);
			}
		}
	}

/*------------------------------------*\
  #NAVIGATION TOGGLE
\*------------------------------------*/

.open-nav .nav-toggle__inner {
	background-color: rgba($white, 0);
}

.open-nav .nav-toggle__inner:before {
	bottom: 0;
	transform: rotate(-45deg);
}

.open-nav .nav-toggle__inner:after {
	top: 0;
	transform: rotate(45deg);
}

.open-nav .nav-toggle__inner:before,
.open-nav .nav-toggle__inner:after {
	background-color: rgba($white, 1);
}